.banner img {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #000;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}




.aboutUs {
    background-image: url('./../../assets/img/menu5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 1200px;
    align-items: center;

}

.vasco {
    background-color: white;
    width: 50%;
    border-radius: 30px;
    padding: 50px;
    margin: 200px 70px 300px 70px;
}

.text2 {
    padding: 40px;
}

.animacao,
.make {
    width: 500px;
    height: 500px;
    margin: 90px
}

/*--------------------*/

.BotaoDeServico {
    background-color: #2C3A40;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.BotaoDeServico h1 {
    color: white;
}

/*make*/

.third {
    width: 45%;
    flex-direction: column;
    justify-content: center;
    margin: 45px 45px 90px 0;
}


.text3 {
    margin: 0 0 15px 0;
}

.butao {
    background: none;
}

/*make*/

/*--------------------*/

.pictures {
    height: 800px;
    background-image: url('../../assets/img/CabeloFundo3.jpg');
}

.cortes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90PX;
}

.icon {
    height: 100px;
    width: 100px;
    color: #4EB1D9;
}

.cortesh {
    color: rgb(250, 250, 250);
}

.pictures img {
    height: 500px;
    width: 500px;
    margin: 40px;
    border-color: #4EB1D9;
    border-radius: 25%;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1700px) {
    .images {
        display: flex;
        flex-direction: column;

    }

.vasco {
    max-width: 1700px;
    max-height: 1000px;
    color: red
}
}

/*--------------------*/


.orientac {
    background-color: #6FBFBF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4px;
}

.localizacao {
    width: 200px;
    height: 200px;
}

/*--------------------*/