@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;1,300&family=Ubuntu:ital,wght@0,500;1,700&display=swap');

.banner img {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #000;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}




.aboutUs {
    background: linear-gradient(to bottom, #1e485a, #048ABF, #3281a0b2);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 1200px;
    align-items: center;

}

.vasco {
    background-color: rgba(57, 146, 206, 0.548);
    width: 50%;
    border-radius: 30px;
    padding: 50px;
    margin: 200px 70px 300px 70px;
}

.text2 {
    padding: 40px;
    font-family: 'Barlow', sans-serif;
    color: whitesmoke;
}

.animacao,
.make {
    width: 500px;
    height: 500px;
    margin: 90px
}

/*--------------------*/

.BotaoDeServico {
    background: linear-gradient(to bottom, #F2E0DF, #4EB1D9);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.BotaoDeServico h1 {
    color: white;
}

/*make*/

.third {
    width: 45%;
    flex-direction: column;
    justify-content: center;
    margin: 45px 45px 90px 0;
}


.text3 {
    margin: 0 0 15px 0;
}
.butao {
    background: linear-gradient(to bottom,  #ceffff8a, #59c9f5c7);
    width: 300px;
    height: 100px;
    border-radius: 45px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

/*make*/

/*--------------------*/

.pictures {
    height: 800px;
    background-image: url(https://e0.pxfuel.com/wallpapers/547/841/desktop-wallpaper-premium-vector-seamless-pattern-of-hairdressing-elements-vector-illustration-of-doodle-icons-background-the-concept-of-a-hairdressing-salon-and-a-beauty-salon-saloon-thumbnail.jpg);
}

.cortes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90PX;
}

.icon {
    height: 100px;
    width: 100px;
    color: #012d3f;
}

.cortesh {
    display: flex;
    justify-content: center;
    align-items: center; 
    color:  #2C3A40;
    background-color: white;
 border-radius: 40PX;
}


.pictures img {
    height: 500px;
    width: 500px;
    margin: 40px;
    border-color: #4EB1D9;
    border-radius: 25%;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}
.images img:hover{
    transform: translateY(-10px);
    transition: all ease 0.5s;
    box-shadow: 6px 6px 10px  #048ABF;
    
}


@media screen and (max-width: 1700px) {
    .images , .aboutUs, .BotaoDeServico, .pictures {
        display: flex;
        flex-direction: column;
        height: 2000px;

    }
    .vasco {
    width: 90%;
}
    .third{
    display: flex;
    width: 50%;
    justify-content: center;
}
    .text2{
    max-height: 1250px;
    max-width: 1250px;
}
.butao{
    width: 500px;
    height: 150px;
}
}

/*--------------------*/


.orientac {
    background-color: #6FBFBF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4px;
}

.localizacao {
    width: 200px;
    height: 200px;
}

/*--------------------*/